{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "highlight/styles/default.css" %}">
<script src="{% static "highlight/highlight.pack.js" %}"></script>
<style>
</style>
<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}

{% block content %}
<!-- Banner -->
<section id="jumbotron" class="jumbotron jumbotron-fluid p-0 m-0">
  <div class="container-fluid p-0 w-100">
      <div id="code_runner" class="p-1 w-100 align-text-bottom align-bottom" style="opacity: 0.5;left:0;bottom:0;white-space:pre-wrap;overflow:hidden;"></div>
  </div>
  <!-- 
  <div class="container-fluid p-0 w-100">
      <div id="code_runner" class="p-1 w-100 align-text-bottom align-bottom" style="opacity: 0.5;left:0;bottom:0;white-space:pre-wrap;overflow:hidden;"></div>
  </div>
-->
  <div class="container-fluid position-absolute" style="top:0;margin-top:30vh;">
    <div id="logo" class="row">
      <div class="col d-flex justify-content-center">
        <h1><img src="{% static "images/logo.png" %}" class="w-100 mb-5"
        style="max-width: 900px;background-color:white;-webkit-box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);-moz-box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);"></img>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <a href="#produkte" class="btn btn-secondary btn-lg mx-auto" role="button" aria-pressed="true">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </div>
    </div>
  </div>
  {% include 'base/nav.html' %}
</section>

<section id="produkte" class="pt-5">{% include 'home/produkte.html' %}</section>
<section class="bg-secondary p-5">{% include 'home/technologien.html' %}</section>
<section id="parallax" style="background-image: url('{% static "images/heilbronn_von_Wartberg.jpg"%}');"></section>
<section id="philosophie" class="text-center py-5" style="background-color:#80bb2d;">
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-5" style="color:white;">Unsere Leitsätze</h2>
      <ul class="list-group list-group-flush m-5">
        <li class="list-group-item">Kein Marketing</li>
        <li class="list-group-item">Wir setzen Visionen um.</li>
        <li class="list-group-item">Morbi leo risus</li>
      </ul>
    </div>
  </div>
</div>
</section>
<section id="referenzen" class="p-5">{% include 'home/referenzen.html' %}</section>
<section id="kontakt" class="bg-secondary p-5">{% include 'home/kontakt.html' %}</section>
<section class="placeholder" style="height:150px;"></section>
{% endblock %}
