<div id="produkte" class="content secondary" style="border-top: 1px solid #f2f2f2;">
  <div class="inner container-fluid">
    <div class="row">
      <div class="col-sm-4 d-flex">
        <div class="card flex-fill text-center">
          <div class="card-body">
            <span class="icon solid fa-code major"></span>
            <h3 class="card-title">Software<wbr>entwicklung</h3>
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item">Komplexe Webapplikationen</li>
              </ul>
              </p>
              <!-- <a href="#" class="btn btn-primary">Weiter lesen</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex">
        <div class="card flex-fill text-center">
          <div class="card-body">
            <span class="icon solid fa-chart-line major"></span>
            <h3 class="card-title">Agile <wbr>Prozesse</h3>
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item">Flexible und schlanke Entwicklungsprozesse</li>
                <li class="list-group-item">Optimale Kundenorientierung</li>
              </ul>
              </p>
              <!-- <a href="#" class="btn btn-primary">Weiter lesen</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex">
        <div class="card flex-fill text-center">
          <div class="card-body">
            <span class="icon solid fas fa-layer-group major"></span>
            <h3 class="card-title">Continuous <wbr>Integration</h3>
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item">Optimale Kundenorientierung</li>
                <li class="list-group-item">Testgetriebene Entwicklung</li>
              </ul>
              </p>
              <!-- <a href="#" class="btn btn-primary">Weiter lesen</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>