<div class="container-fluid p-5">
    <div class="row">
      <div class="d-flex col-md-6 col-xl-3 p-3">
        <div class="card flex-fill text-center">
          <div class="card-body d-flex flex-column">
            <i class="material-icons">web</i>
            <h3 class="card-title">Web<wbr>applikationen</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Responsive Apps</li>
                <li class="list-group-item">Schnittstellen<wbr>anbindung</li>
                <li class="list-group-item">Software-<wbr>Integration</li>
              </ul>
              <a href="{% url 'webapplikationen' %}" class="btn btn-link mt-auto">Weiter lesen</a>
          </div>
        </div>
      </div>
      <div class="d-flex col-md-6 col-xl-3 p-3">
        <div class="card flex-fill text-center">
          <div class="card-body d-flex flex-column">
            <i class="material-icons">code</i>
            <h3 class="card-title">Software<wbr>entwicklung</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Continuous <wbr>Integration</li>
                <li class="list-group-item">Agiles <wbr>Projekt<wbr>management</li>
                <li class="list-group-item">Prototypen und Tests</li>
              </ul>
              <a href="{% url 'softwareentwicklung' %}" class="btn btn-link mt-auto">Weiter lesen</a>
          </div>
        </div>
      </div>
      <div class="d-flex col-md-6 col-xl-3 p-3">
        <div class="card flex-fill text-center">
          <div class="card-body d-flex flex-column">
            <i class="material-icons">cached</i>
            <h3 class="card-title">Prozess<wbr>optimierung</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Qualitäts<wbr>sicherung</li>
                <li class="list-group-item">Effizienz<wbr>steigerung</li>
                <li class="list-group-item">Ausfallsicherheit und Monitoring</li>
              </ul>
              <a href="{% url 'prozessoptimierung' %}" class="btn btn-link mt-auto">Weiter lesen</a>
          </div>
        </div>
      </div>
      <div class="d-flex col-md-6 col-xl-3 p-3">
        <div class="card flex-fill text-center">
          <div class="card-body d-flex flex-column">
            <i class="material-icons">kitchen</i>
            <h3 class="card-title">Server<wbr>verwaltung</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Linux und Unix Systeme</li>
                <li class="list-group-item">Skalierung und Performance Analyse</li>
                <li class="list-group-item">Updates und Upgrades</li>
              </ul>
              <a href="{% url 'serververwaltung' %}" class="btn btn-link mt-auto">Weiter lesen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
