{% load static %}
<!-- Masonry layout -->
<div class="container-fluid">
  <div class="row">
      <div class="card text-center mx-auto my-3">
        <div class="card-header">
          <h5 class="card-title">BackSnap</h5>
        </div>
        <img class="card-img-top p-3 mx-auto" src="{% static "images/backsnap_logo.png" %}" alt="Card image cap" style="max-width:100px;">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Webinterface für Dateisystem-Snapshots inklusive Datenbank-Backup.</li>
            <li class="list-group-item">Snapshots ohne Zeitverzögerung erstellen und wiederherstellen</li>
            <li class="list-group-item">Container- und Rechteverwaltung</li>
          </ul>
        </div>
        <div class="card-footer text-muted d-table w-100 p-0">
          <!-- <a href="#" class="card-link">Quellcode</a> -->
          <a href="#" class="card-link d-table-cell py-3">Weiter lesen</a>
        </div>
      </div>
      <div class="card text-center mx-auto my-3">
        <div class="card-header">
          <h5 class="card-title">Matchmaker</h5>
        </div>
        <img class="card-img-top p-3" src="{% static "images/matchmaker_logo.png" %}" alt=" ">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Elo-scoring</li>
            <li class="list-group-item">Tischfußball Spielerbewertung</li>
            <li class="list-group-item">Erstelle augeglichene Teams</li>
          </ul>
        </div>
        <div class="card-footer text-muted d-table w-100 p-0">
          <!-- <a href="#" class="card-link">Quellcode</a> -->
          <a href="https://github.com/snake-soft/pycow" class="card-link d-table-cell py-3">Weiter lesen</a>
        </div>
      </div>
      <div class="card text-center mx-auto my-3">
        <div class="card-header">
          <h5 class="card-title">pycow</h5>
        </div>
        <img class="card-img-top p-3" src="{% static "" %}" alt=" ">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Python Bibliothek</li>
            <li class="list-group-item">Verwaltung von Copy-On-Write Dateisystemen (ZFS, Btrfs)</li>
            <li class="list-group-item">Verwaltung von Datenbank-Backups (Mysql)</li>
          </ul>
        </div>
        <div class="card-footer text-muted d-table w-100 p-0">
          <!-- <a href="#" class="card-link">Quellcode</a> -->
          <a href="https://github.com/snake-soft/pycow" class="card-link d-table-cell py-3">Weiter lesen</a>
        </div>
      </div>
      <div class="card text-center mx-auto my-3">
        <div class="card-header">
          <h5 class="card-title">imap-storage</h5>
        </div>
        <img class="card-img-top p-3" src="{% static "" %}" alt=" ">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email-Account als Datenspeicher</li>
            <li class="list-group-item">Dateiablage</li>
            <li class="list-group-item">Alle Daten liegen im Email-Postfach</li>
          </ul>
        </div>
        <div class="card-footer text-muted d-table w-100 p-0">
          <!-- <a href="https://github.com/snake-soft/imap-storage" class="card-link">Quellcode</a> -->
          <a href="https://github.com/snake-soft/pycow" class="card-link d-table-cell py-3">Weiter lesen</a>
        </div>
      </div>
  </div>
</div>
