{% load static %}
<ul style="padding-top:30px;margin-top: 70px;" class="nav nav-tabs" id="technologieTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link px-5 py-3 active" id="django-tab" data-toggle="tab" href="#django" role="tab" aria-controls="django" aria-selected="true">
      <h3 class="mb-0">Django <i class="fas fa-caret-down"></i></h3>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link px-5 py-3" id="python-tab" data-toggle="tab" href="#python" role="tab" aria-controls="python" aria-selected="false">
      <h3 class="mb-0">Python <i class="fas fa-caret-down"></i></h3>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link px-5 py-3" id="webtechnologie-tab" data-toggle="tab" href="#webtechnologie" role="tab" aria-controls="webtechnologie" aria-selected="false">
      <h3 class="mb-0">Web <i class="fas fa-caret-down"></i></h3>
    </a>
  </li>
</ul>
<div class="tab-content bg-white" style="margin-bottom:5rem;" id="technologieTabContent">

<!-- Django -->
  <div class="tab-pane fade show active" id="django" role="tabpanel" aria-labelledby="django-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Warum Django?</h4></li>
                  <li class="list-group-item">Sehr performant und skalierbar</li>
                  <li class="list-group-item">Großer Funktionsumfang</li>
                  <li class="list-group-item">Sicherheit "by design"</li>
                  <li class="list-group-item">Äußerst vielseitig</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Django?</h4></li>
                  <li class="list-group-item">Eines der beliebtesten Web-Frameworks (<a target="_blank" href="https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-web-frameworks" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a>)</li>
                  <li class="list-group-item">Model-View-Template Struktur</li>
                  <li class="list-group-item">Datenbank-abstraktion</li>
                  <li class="list-group-item">Suchmaschinenfreundlich</li>
                  <li class="list-group-item">100% Python</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was kann Django?</h4></li>
                  <li class="list-group-item">Komplexe Webapplikationen ("app-like")</li>
                  <li class="list-group-item">Backend für andere Sprachen (z.B. PHP)</li>
                  <li class="list-group-item">REST-Framework</li>
                  <li class="list-group-item">Kurze und effiziente Entwicklung</li>
                  <li class="list-group-item">Wird verwendet von: Mozilla, Instagram, Pinterest, uvm.</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Content Management Systeme (CMS)</h4></li>
                  <li class="list-group-item">Django CMS, Mezzanine, Wagtail</li>
                  <li class="list-group-item">Rechte- und Inhaltsverwaltung</li>
                  <li class="list-group-item">Modularer Aufbau</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>  
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0 h-100">
            <div class="row h-100 p-0">
              <div class="col d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <img class="w-100 lazyload" src="{% static "images/django-logo-negative.png" %}" alt="" />
                  <a href="{% url 'django' %}" class="btn btn-link mt-5" role="button" aria-pressed="true"><i class="fas fa-caret-right"></i> Mehr über Django</a>
                </span>
              </div>         
            </div>         
          </div>         
        </div>        
      </div>         
    </div>
  </div>

<!-- Python -->
  <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="python-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was nutzt Ihnen Python?</h4></li>
                  <li class="list-group-item">Lesbare Syntax, dennoch performant</li>
                  <li class="list-group-item">Umfangreiche Standardbibliothek</li>
                  <li class="list-group-item">Wiederverwendbarkeit</li>
                  <li class="list-group-item">Standardisiert und Etabliert</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Test-Infrastruktur</h4></li>
                  <li class="list-group-item">Automatisierte Software Tests</li>
                  <li class="list-group-item">Qualitätssicherung</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was kann Python?</h4></li>
                  <li class="list-group-item">Data-Mining</li>
                  <li class="list-group-item">Machine learning</li>
                  <li class="list-group-item">Packaging</li>
                  <li class="list-group-item">Modularisierung</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Woher kommt der Name?</h4></li>
                  <li class="list-group-item"><b>Nicht</b> von der gleichnamigen Schlange</li>
                  <li class="list-group-item">Namensgeber ist die Comedygruppe Monty Pythons</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>  
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0 h-100">
            <div class="row h-100 p-0">
              <div class="col-6 col-lg-12 offset-3 offset-lg-0 d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <img class="w-100 lazyload" src="{% static "images/python_logo_only.png" %}" alt="" />
                  <a href="{% url 'python' %}" class="btn btn-link mt-5" role="button" aria-pressed="true"><i class="fas fa-caret-right"></i> Mehr über Python</a>
                </span>
              </div>         
            </div>         
          </div>         
        </div>        
      </div>         
    </div>         
  </div>


<!-- Webtechnologien -->
  <div class="tab-pane fade" id="webtechnologie" role="tabpanel" aria-labelledby="webtechnologie-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Bootstrap</h4></li>
                  <li class="list-group-item">Frontend Framework</li>
                  <li class="list-group-item">Responsive Design (z.B. Tablet, Mobiltelefon, ...)</li>
                  <li class="list-group-item">Beschleunigte Entwicklungszeit</li>
                  <li class="list-group-item">Browser Kompatibilität</li>
                  <li class="list-group-item">Anpassbar</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>jQuery</h4></li>
                  <li class="list-group-item">"write less, do more."</li>
                  <li class="list-group-item">JavaScript Framework</li>
                  <li class="list-group-item">Erstellen von dynamischen Frontends</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Software-Tests</h4></li>
                  <li class="list-group-item">Basis für Continuous Delivery</li>
                  <li class="list-group-item">Qualitätssicherung</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Sonstige</h4></li>
                  <li class="list-group-item">Es gibt eine Vielzahl von Frameworks und Bibliotheken</li>
                  <li class="list-group-item">Für jedes "Problem" benötigt man die passende Lösung</li>
                  <li class="list-group-item">Wir helfen Ihnen, die richtige zu finden</li>
                  <li class="list-group-item"></li>
                </ul>
              </div>         
            </div>         
          </div>
        </div>
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0 h-100">
            <div class="row h-100 p-0">
              <div class="col d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <i class="fas fa-fw fa-globe" style="font-size:150px;color:grey;"></i>
                  <a href="{% url 'web' %}" class="btn btn-link mt-5" role="button" aria-pressed="true"><i class="fas fa-caret-right"></i> Mehr über Webdesign</a>
                </span>
              </div>         
            </div>
          </div>         
        </div>        
      </div>         
    </div>   
  </div>
</div>
