{% load static %}
<!-- Section -->
<!-- Classic tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link px-5 py-3 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h3 class="mb-0">Python</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link px-5 py-3" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h3 class="mb-0">Django</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link px-5 py-3" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><h3 class="mb-0">Webstandards</h3></a>
  </li>
</ul>
<div class="tab-content bg-white" id="myTabContent">
  <div class="tab-pane fade show p-5 active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Oben-Links   ?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>  
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0">
            <div class="row h-100 p-0">
              <div class="col d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <img class="w-100" src="{% static "images/python_logo_only.png" %}" alt="" />
                </span>
              </div>         
            </div>         
          </div>         
        </div>        
      </div>         
    </div>         
  </div>         
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Oben-Links   ?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>  
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0">
            <div class="row h-100 p-0">
              <div class="col d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <img class="w-100" src="{% static "images/python_logo_only.png" %}" alt="" />
                </span>
              </div>         
            </div>         
          </div>         
        </div>        
      </div>         
    </div>   </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 col-md-6 order-1 order-lg-1">
          <div class="container text-right">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Oben-Links   ?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>         
        <div class="col-12 col-lg-5 col-md-6 order-2 order-lg-3">
          <div class="container text-left">
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
            <div class="row">
              <div class="col px-5 py-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h4>Was ist Python?</h4></li>
                  <li class="list-group-item">Objektorientiert und prozedural</li>
                  <li class="list-group-item">Schnell, mächtig und etabliert</li>
                  <li class="list-group-item">Umfangreiche Code Bibliotheken</li>
                  <li class="list-group-item">Software Tests</li>
                </ul>
              </div>         
            </div>         
          </div>         
        </div>  
        <div class="col-12 col-lg-2 p-0 order-3 order-lg-2">
          <div class="container p-0">
            <div class="row h-100 p-0">
              <div class="col d-table h-100 p-0">
                <span class="d-table-cell h-100 p-3 text-center align-middle">
                  <img class="w-100" src="{% static "images/python_logo_only.png" %}" alt="" />
                </span>
              </div>         
            </div>         
          </div>         
        </div>        
      </div>         
    </div>   </div>
          </section>
