{% load static %}
<!-- Section -->
          <section id="one" class="main">
            <header id="produkte" class="accent1">
              <h2>Produkte</h2>
              <p>Wieso verwenden wir was wir verwenden</p>
            </header>
            <ul class="tabs">
              <li>
                <h3>Python</h3>
                <div class="spotlight">
                  <ul>
                    <li>
                      <h4>Was ist Python?</h4>
                      <p>Lesbare Syntax</p>
                      <p>Umfangreiche Standardbibliothek</p>
                      <p>Wiederverwendbarkeit</p>
                      <p>Standardisiert</p>
                      <p>Etabliert</p>
                    </li>
                    <li>
                      <h4>Warum Python?</h4>
                      <p>Erweiterbarkeit</p>
                    </li>
                  </ul>
                  <span class="image p"><img src="{% static "images/python_logo_only.png" %}" alt="" /></span>
                  <ul>
                    <li>
                      <h4>Test-Infrastruktur</h4>
                      <p>Automatisierte Software Tests</p>
                      <p>Qualitätssicherung</p>
                    </li>
                    <li>
                      <h4>Herkunft des Namens</h4>
                      <p>Der Name 'Python' stammt wider erwarten <b>nicht</b> von der gleichnamigen Schlange.</p>
                                            <p>Stattdessen gilt die britische Comedygruppe Monty Pythons als Namensgeber der Programmiersprache Python.</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <h3>Django</h3>
                <div class="spotlight">
                  <ul>
                    <li>
                      <h4>Was ist Django?</h4>
                      <p>"The Web framework for perfectionists with deadlines"</p>
                      <p>Python</p>
                    </li>
                    <li>
                      <h4>Architektur</h4>
                      <p>Model-View-Controller Konzept</p>
                    </li>
                  </ul>
                  <span class="image"><img style="border-radius:5px;" src="https://static.djangoproject.com/img/logos/django-logo-negative.png" alt="" /></span>
                  <ul>
                    <li>
                      <h4>Quis portitor</h4>
                      <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>
                    </li>
                    <li>
                      <h4>Magna accumsan</h4>
                      <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <h3>Webstandards</h3>
                <div class="spotlight">
                  <ul>
                    <li>
                      <h4>HTML</h4>
                      <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>
                    </li>
                    <li>
                      <h4>CSS</h4>
                      <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>
                    </li>
                  </ul>
                  <span class="image"><img style="border-radius:5px;" src="https://www.w3.org/html/logo/downloads/HTML5_Badge_256.png" alt="" /></span>
                  <ul>
                    <li>
                      <h4>JavaScript</h4>
                      <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>
                    </li>
                    <li>
                      <h4>Erat aliquam</h4>
                      <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <h3>Frameworks</h3>
                <div class="spotlight">
                  <ul>
                    <li>
                      <h4>Content Management</h4>
                      <p>Inhalte einfach bearbeiten</p>
                    </li>
                    <li>
                      <h4>Bootstrap</h4>
                      <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>
                    </li>
                  </ul>
                  <span class="image"><img src="{% static "images/pic03.jpg" %}" alt="" /></span>
                  <ul>
                    <li>
                      <h4>Magna accumsan</h4>
                      <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>
                    </li>
                    <li>
                      <h4>Erat aliquam</h4>
                      <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <h3>Weitere</h3>
                <div class="spotlight">
                  <ul>
                    <li>
                      <h4>Linux server management</h4>
                      <p>Sed adipiscing ornare risus. Morbi lorem lentesque egestas sem consequat.</p>
                    </li>
                    <li>
                      <h4>Update service</h4>
                      <p>Donec nec justo eget felis facilisis ferme Aenean dignissim pellen.</p>
                    </li>
                  </ul>
                  <span class="image"><img src="{% static "images/pic03.jpg" %}" alt="" /></span>
                  <ul>
                    <li>
                      <h4>Internet of things (IoT)</h4>
                      <p>Lorem in sem quis dui placerat ornare tra sed etiam veroeros consequat.</p>
                    </li>
                    <li>
                      <h4>Erat aliquam</h4>
                      <p>Praesent dapibus, neque id cursus fauci quam erat volutpat nam dui mitin.</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
