APScheduler==3.6.3
asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
cryptography==3.1.1
decorator==4.4.2
Django==3.0.7
django-analytical==2.6.0
django-classy-tags==2.0.0
django-cms==3.7.4
django-filer==2.0.2
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-treebeard==4.3.1
djangocms-admin-style==2.0.0
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
easy-thumbnails==2.7
html5lib==1.1
Pillow==8.0.1
pycparser==2.20
python-telegram-bot==13.0
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
tornado==6.0.4
tzlocal==2.1
Unidecode==1.1.1
webencodings==0.5.1
