{% extends 'base/content.html' %}

{% block title %}Gedanken zum Thema Software und Webdesign mit Python und Django{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Software is eating the world</h2>
<blockquote class="blockquote">
  <p class="mb-0">"Six decades into the computer revolution, four decades since the invention of the microprocessor, and two decades into the rise of the modern Internet, all of the technology required to transform industries through software finally works and can be widely delivered at global scale."</p>
  <footer class="blockquote-footer">Marc Andreessen 2011 (<cite><a target="_blank" href="https://a16z.com/2011/08/20/why-software-is-eating-the-world/" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<p>Diese äußerst beachtenswerte Vorhersage aus 2011 hat sich bereits zum Teil bestätigt und die Entwicklung läuft weiter. </p>


<h2>Open Source</h2>
<p>nennt man Software, bei welcher der Quellcode öffentlich zugängig ist. Er kann eingesehen, genutzt und lokal geändert werden. 
Im Optimalfall werden diese Änderungen selbst wieder der Öffentlichkeit zur Verfügung gestellt.</p>
<p>Dem gegenüber steht die Proprietäre Software, welche lediglich für einen ausgewählten Personenkreis einsehbar ist. 
Das besitzende Unternehmen muss sich vollumfänglich selbst um Sicherheits-Audits, Updates und Weiterentwicklung kümmern. 
Sehr wenige wissen, was (z.B. bei Windows Betriebssystemen) tatsächlich passiert - man muss dem gewinnorientierten Unternehmen vertrauen.</p>

<p>Wir sind überzeugt davon, dass ...
<p class="ml-5">Open Source Software das Nachhaltigere System ist</p>
<p class="ml-5">Transparenz wertvoller ist als blindes Vertrauen</p>
<p class="ml-5">Software, die man bezahlt mindestens persönlich einsehbar sein sollte</p>
<p class="ml-5">Sicherheit nicht auf Geheimhaltung basieren darf</p>

<p>Natürlich darf man nicht einfach alles veröffentlichen. Wir sind jedoch stets bestrebt, Projekte zu modulieren.
Das bedeutet, dass wiederverwendbare allgemeine Funktionen von der Geschäftslogik getrennt und optimalerweise der Community zur verfügung gestellt werden.</p>
<p>Andererseits kommen unseren Kunden die Veröffentlichung fremder Software-Projekte ebenfalls zugute.</p>
{% endblock %}