{% extends 'base/content.html' %}

{% block title %}Über uns{% endblock %}
{% block description %}Wir bieten Digitale Dienstleistungen Weltweit. Unser Primäres Einsatzgebiet ist Heilbronn, Karlsruhe, Stuttgart, Baden-Württemberg, Deutschland, Österreich, Schweiz{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<p>Wir sind Ihr Partner für Projekte in den Bereichen:</p>
<ul>
  <li>Webapplikationen</li>
  <li>Internetdienste</li>
  <li>Softwareentwicklung</li>
  <li>Webdesign</li>
  <li>Onboarding</li>
</ul>

<p>Da wir digitale Dienstleistungen anbieten, nehmen wir weltweit Aufträge an.</p>
<p>Unser primäres Einsatzgebiet ist jedoch:</p>
<ul>
  <li>Heilbronn</li>
  <li>Karlsruhe</li>
  <li>Stuttgart</li>
  <li>Baden-Württemberg</li>
  <li>Deutschland, Österreich, Schweiz (DACH)</li>
</ul>
{% endblock %}