{% extends 'base/content.html' %}

{% block title %}Software-gestützte Prozessoptimierung{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Softwaregestützte Prozessoptimierung</h2>
<p>Jeder Prozess beinhaltet Möglichkeiten zur optimierung. 
Mithilfe von Software können viele Prozesse drastisch optimiert werden.</p>
<p>Diese Optimierungen können verschiedene Ziele haben.</p>

<h3>Automatisierung und Effizienzsteigerung</h3>
<p>Wir automatisieren immer wiederkehrende Prozesse.</p>

<h3>Qualitätssicherung</h3>
<p>Wir erstellen Systeme zur automatisierten Überprüfung der Produktqualität.</p>

<h3>Ausfallsicherheit und Monitoring</h3>
<p>Behalten Sie Ihre Systeme stehts im Blick.</p>
{% endblock %}