{% extends 'base/content.html' %}

{% block title %}Linux und Unix Serververwaltung{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Serververwaltung</h2>
<p>Große Teile des Internets (Mailserver, Webserver, Datenbankserver, ...) nutzen heute unixoide Betriebssysteme. 
Diese bieten neben einigen Vorteilen den Nachteil, dass es schwer und teuer sein kann, einen kompetenten Fachmann für die Einrichtung und Instandhaltung dieser Systeme zu finden.</p>
<p>Dabei schätzen viele Unternehmen Linux und Co. für ihre Stabilität, Transparenz und Sicherheit.</p>
<p>Nutzen Sie unser Jahrzehntelanges Know-How im Umgang mit Unix- und Linux Systemen.</p>

<h2>Unix vs. Linux</h2>
<p>Ist das nicht dasselbe? Nein.</p>

<h3>Unix</h3>
<p>Wurde 1969 von Bell Laboratories (heute AT&T) entwickelt und bezeichtete das vollständige Betriebssystem.</p>

<h3>Linux</h3>
<p>Bezeichnet den 1992 von Linux Torvalds entwickelten Kernel. Es bezeichnet also lediglich den Kern der darauf basierenden Betriebssysteme (z.B. Debian).</p>

{% endblock %}