{% extends 'base/content.html' %}

{% block title %}Agile Softwareentwicklung{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Softwareentwicklung bei Snake-Soft</h2>
<hr>
<blockquote class="blockquote text-center">
  <p class="mb-0">
Wir erschließen bessere Wege, Software zu entwickeln,<br />
indem wir es selbst tun und anderen dabei helfen.<br />
Durch diese Tätigkeit haben wir diese Werte zu schätzen gelernt:<br />
<br />
<b>Individuen und Interaktionen</b> mehr als Prozesse und Werkzeuge<br />
<b>Funktionierende Software</b> mehr als umfassende Dokumentation<br />
<b>Zusammenarbeit mit dem Kunden</b> mehr als Vertragsverhandlung<br />
<b>Reagieren auf Veränderung</b> mehr als das Befolgen eines Plans<br />
<br />
Das heißt, obwohl wir die Werte auf der rechten Seite wichtig finden,<br />
schätzen wir die Werte auf der linken Seite höher ein.</p>
  <footer class="blockquote-footer">Manifest für Agile Softwareentwicklung (<cite><a target="_blank" href="https://agilemanifesto.org/iso/de/manifesto.html" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<hr>
                    
<h3>Agiles Projektmanagement</h3>
<p>Wir nutzen agile Leitsätze, Prinzipien und Methoden.</p>
<p>Computer und Internet haben unsere moderne Arbeitswelt sehr verändert. 
Agiles Projektmanagement ist die Lösung um dennoch eine Atmosphäre zu schaffen, welche dem Kunden die Möglichkeit gibt, direkt die Produktentwicklung zu beeinflussen.</p>
<p>Mit herkömmlichen Methoden erstellte man einen großen Projektplan. Erst wenn dieser erfüllt wurde, galt ein Projekt als fertig. 
In einer Zeit die global und schnelllebig ist, konnte der Kunde nicht sicher sein, ein zeitgemäßes Produkt zu erhalten.</p>
<p>Das Ziel agiler Methoden ist es, die Release-Zyklen so kurz wie möglich zu gestalten. 
Regelmäßiges Kunden-Feedback beinhaltet auch die Möglichkeit für den Kunden, seine Ideen und Wünsche kurzfristig mit einzubringen.</p>
<p>Agiles Projektmanagement ersetzt die Annahme, man müsse Projekte möglichst groß, komplex und komplett gestalten durch "Kaizen" - Einer stetigen Verbesserung.</p>

<h3>Continuous Delivery (CD)</h3>
<p>Wir erstellen eine digitale Pipeline für Ihre Software. Sind neue Features fertiggestellt, werden diese automatisch nach Funktionalität, Testabdeckung und Code-Reinheit getestet.</p>
<p>Automatisierte Tests sowie Software-Versionierung sind für uns essentiell. Nur so können kurze und agile Entwicklungszyklen gewährleistet werden.</p>


<h3>Onboarding</h3>
<p>Nutzen Sie unsere Kompetenz zur ergänzung Ihres Projektteams.</p>
{% endblock %}