{% extends 'base/content.html' %}

{% block title %}Webapplikationen, Webanwendungen und Webdesign{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Webanwendungen</h2>
<p>Das Internet ist aus der heutigen Zeit nicht mehr wegzudenken. 
Man gewinnt schnell den Eindruck, dass ein Unternehmen ohne Online-Auftritt nicht existiert.</p>
<p>Die Möglichkeiten des Internets wurden durch Smartphones und deren nativen Apps vervielfacht.</p>

<h2>Web-App vs. Native App</h2>
<p>Es gibt zwei Kategorien von Webanwendungen mit gravierenden Vor- und Nachteilen, welche wir hier darstellen.</p>

<h3>Native App</h3>
<p>Eine native app muss auf dem Endgerät installiert werden.</p>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>Vorteile</h4>
      <ul>
        <li>Standardmäßig Offline verwendbar</li>
        <li>Komplexe Funktionen</li>
      </ul>
    </div>
    <div class="col">
      <h4>Nachteile</h4>
      <ul>
        <li>Update-Management nötig</li>
        <li>Endgeräte können verschiedene Versionen verwenden</li>
      </ul>
    </div>
  </div>
</div>


<h3>Web-Apps</h3>
<p>(auch Webanwendung / Web-App) ist eine Website mit komplexen Funktionalitäten, welche es wie eine native App auf dem Handy aussehen lassen.
Der Übergang von <a type="button" class="" data-toggle="tooltip" title="Responsive Design: Anpassung des Designs an kleinere Bildschirmformate (z.B. Mobiltelefon, Tablett, ...)">Responsive Design</a> 
zu sogenannten <a type="button" class="" data-toggle="tooltip" title="Progressive Web-App: Website welche sich wie eine native App nahtlos integrieren lässt">Progressive Web-App</a> ist fließend.
</p>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>Vorteile</h4>
      <ul>
        <li>Zentral verwaltetes System</li>
        <li>Keine Abstraktion durch verschiedene Betriebssysteme</li>
        <li>Höhere Sicherheit</li>
        <li>Daten liegen meist zentral auf dem Server</li>
      </ul>
    </div>
    <div class="col">
      <h4>Nachteile</h4>
      <ul>
        <li>Höherer Entwicklungsaufwand aufgrund der Statik des Internets (HTML)</li>
        <li>Offline Funktionalitäten umständlich zu realisieren</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
