{% extends 'base/content.html' %}

{% block title %}Komplexe Webapplikationen und Webanwendungen mit dem Python Web-Framework Django{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h1 class="text-center">Django</h1>

<blockquote class="blockquote text-center">
  <p class="mb-0">"The web framework for perfectionists with deadlines."</p>
  <footer class="blockquote-footer">Django Motto (<a target="_blank" href="https://djangoproject.com" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a>)</footer>
</blockquote>

<hr>

<h2>Was ist Django?</h2>

<p>Django ist ein mithilfe der Programmiersprache Python erschaffenes Framework zum erstellen von Webanwendungen und Websites.</p>
<p>Ein Web-Framework ist eine art Baukastensystem, das mit vielen vorgefertigten Modulen die Entwicklung vereinfacht und strukturiert.
Dadurch muss man wiederkehrende Probleme nicht immer wieder erneut lösen.</p>
<p>Es wurde 2003 von Adrian Holovaty und Simon Willison, Webentwicklern der Lawrence Journal-World Zeitung, 
als Quelloffene Software erschaffen und 2008 an die Django Software Foundation übergeben.</p>


 
<h2>Was kann Django?</h2>

<p>Django beinhaltet alle grundlegenden Funktionen, die heute an eine komplexe Webanwendung gestellt werden.
Dazu zählen:</p>
<ul>
  <li>Benutzerverwaltung
  <li>Internationalisierung
  <li>Datenbankanbindung mit objektrelationaler Abbildung
  <li>Administrationsoberfläche
  <li>URL-Generator für Suchmaschinenfreundliche Adressen
  <li>Templatesprache mit Vererbung
  <li>Sicherheitsmaßnahmen (z.B. Cross-Site-Scripting Schutz)
  <li>Caching
  <li>Authentifizierungssystem
  <li>Benachrichtigungssystem
  <li>Automatisierte erstellung von Sitemaps
  <li>Model-Template-View Architektur
  <li>Viele weitere
</ul>
<p>Django ist 100% Python.</p>
<p>Das Web-Framework kann wie Python sehr einfach erweitert werden.
Da beide Projekte komplett offen und frei sind, gibt es eine sehr große community, 
welche welche unaufhörlich weitere Funktionen einpflegt und installierbare Erweiterungen produziert und veröffentlicht.</p>
<p>"DRY" ist eines der wichtigsten Prinzipien: Don't repeat yourself.</p>
<p>Aufgrund des modularen Aufbaus kann man auch nur die Funktionen verwenden, die man tatsächlich benötigt.
So kann man Django mit anderen Sprachen, Frameworks und Systemen kombinieren.</p>
<p>Das Django Rest Framework erweitert dies durch die Möglichkeit, eine versionierte und wohl definierte REST-Api zu erstellen.
Diese bietet die Schnittstelle zu anderen Systemen oder Apps.</p>


<h2>Django basierte CMS-Systeme</h2>

<h3>Was ist ein Content Management System (CMS)</h3>
<h3>Django CMS</h3>
<h3>Mezzanine</h3>
<h3>Wagtail</h3>



<h2>Wie verbreitet ist Django?</h2>

<p>Während Django weltweit eines der meistverwendeten Frameworks ist, wird es in Deutschland eher als Geheimtipp gehandelt.</p>
<p>Eine kleine Auswahl bekannter Seiten, welche das Framework für ihre Internetauftritte einsetzen sind:</p>
<ul>
  <li>Public Broadcasting Service
  <li>Instagram
  <li>Mozilla
  <li>Pinterest
  <li>The Washington Times
  <li>Disqus
  <li>Bitbucket
  <li>Nextdoor
  <li>National Geographic
</ul>
<p></p>



<h2>Was für Vorteile bringt Django für Sie?</h2>
<p>Da der Zeitbedarf für die Implementierung von Basisfunktionen wesentlich geringer ist, 
können Sie bei gleichem Budget eine höhere Qualität erwarten.</p>
<p>Der Quellcode Ihrer Software ist ihrer Natur gemäß wesentlich einfacher zu erweitern.</p>
<p>Nicht zuletzt dank der zugrundeliegenden Sprache können komplexeste Webanwendungen erstellt werden.</p>
<p>Auch sogenannte Webapps sind möglich, Websites die sich wie eine App verhalten .</p>

{% endblock %}
