{% extends 'base/content.html' %}

{% block title %}Softwareentwicklung im Python Ökosystem{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h1 class="text-center">Python</h1>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Python is the fastest-growing major programming language today."</p>
  <footer class="blockquote-footer">Developer Survey Results 2019 (<cite><a target="_blank" href="https://insights.stackoverflow.com/survey/2019#most-popular-technologies" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Python is the most wanted language for the third year in a row [...]"</p>
  <footer class="blockquote-footer">Developer Survey Results 2019 (<cite><a target="_blank" href="https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-web-frameworks" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Language of the Year: 2007, 2010, 2018"</p>
  <footer class="blockquote-footer">Tiobe Index (<cite><a target="_blank" href="https://www.tiobe.com/tiobe-index/" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<hr>
<h2>Was ist Python?</h2>
<p>Python ist eine höhere Programmiersprache, welche die objektorientierte, aspektorientierte und funktionale Programmierung unterstützt.</p>
<p>Die Sprache selbst ist seit Version 3.0 vollständig objektorientiert.</p>
<p>Sie ist sehr vielseitig und hat einige sehr nützliche Eigenschaften, welche nicht nur dem Entwickler zugute kommen.</p>
<p>Doch zunächst sei erwähnt, dass Python aufgrund seiner Flexibilität sehr standardisiert wurde.</p>
<p>Ein Aspekt dieser Standardisierung ist der Zen of Python:</p>
<div id="importthis" class="text-center container p-5 my-5 border" style="background-color: #fbfbfb;">
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Schön ist besser als hässlich.">
    Beautiful is better than ugly.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Explizit ist besser als implizit.">
    Explicit is better than implicit.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Einfach ist besser als komplex.">
    Simple is better than complex.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Komplex ist besser als kompliziert.">
    Complex is better than complicated.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Flach ist besser als verschachtelt.">
    Flat is better than nested.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Spärlich ist besser als dicht.">
    Sparse is better than dense.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Lesbarkeit zählt.">
    Readability counts.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Sonderfälle sind nicht speziell genug, um die Regeln zu brechen.">
    Special cases aren't special enough to break the rules.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Obwohl die Zweckmäßigkeit die Reinheit übertrifft.">
    Although practicality beats purity.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Fehler sollten niemals unbemerkt passieren.">
    Errors should never pass silently.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Sofern nicht ausdrücklich zum Schweigen gebracht.">
    Unless explicitly silenced.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Lehnen Sie die Versuchung ab, angesichts von Zweideutigkeiten zu raten.">
    In the face of ambiguity, refuse the temptation to guess.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Es sollte einen - und am besten nur einen - offensichtlichen Weg geben, dies zu tun.">
    There should be one-- and preferably only one --obvious way to do it.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Obwohl dieser Weg auf den ersten Blick nicht offensichtlich ist, es sei denn, Sie sind Holländer.">
    Although that way may not be obvious at first unless you're Dutch.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Jetzt ist besser als nie.">
    Now is better than never.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Obwohl nie oft besser ist als * gerade *.">
    Although never is often better than *right* now.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Wenn die Implementierung schwer zu erklären ist, ist es eine schlechte Idee.">
    If the implementation is hard to explain, it's a bad idea.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Wenn die Implementierung einfach zu erklären ist, ist dies möglicherweise eine gute Idee.">
    If the implementation is easy to explain, it may be a good idea.
  </a>
</p>
<p>
  <a type="button" class="btn btn-link" data-toggle="tooltip" title="Namespaces sind eine großartige Idee - machen wir mehr davon!">
    Namespaces are one honking great idea -- let's do more of those!
  </a>
</p>
</div>
<p>Dies sind grobe Empfehlungen, die den Syntax Charakter der Sprache betreffen.</p>
<p>Darüber hinaus existieren zu vielen Themen weitere Richtlinien, an welche man sich halten kann, um optimalen Code zu erhalten:<br><a href="https://www.python.org/dev/peps/" target="_blank">Python Enhancement Proposals (PEPs)</a></p>

<h2>Warum Python?</h2>
<p>Python bietet im Vergleich zu anderen Sprachen einige gravierende Vorteile, die es sowohl für den Entwickler, als auch für Sie sehr attraktiv machen:</p>

<h4>Lesbare Syntax</h4>
<p>Auch aufgrund der oben erwähnten freiwilligen Standardisierung hat Python die am besten lesbare Syntax aller derzeitigen Hochsprachen.
Das bedeutet für den Kunden mehr Transparenz und Flexibilität im Umgang mit Software-Agenturen.</p>

<h4>Entwicklungsgeschwindigkeit</h4>
<p>Aufgrund der Ähnlichkeit zum Pseudo-Code ist die Prototypen-Entwicklung sehr komfortabel. 
Auch Sehr komplexe Konzepte lassen sich sehr schnell in funktionierenden Code umwandeln. 
Im Vergleich zu anderen Sprachen fließt daher regelmäßig mehr Energie in die Qualität.</p>
<p>Banal gesagt: Wo man mit anderen Programmiersprachen noch an der Grundfunktion arbeitet, ist man mit Python schon beim Feinschliff.
</p>

<h4>Performance</h4>
<p>Python ist sehr performant, da alle performance-kritischen Bibliotheken in C geschrieben wurden (ca. 10%). 
Die Geschwindigkeit von Python-Code ist abhängig von der Kompetenz der Entwickler.</p>
<p>Für sehr kritische Anwendungen bietet Python die Möglichkeit, C++ Bibliotheken zu erstellen und einzubinden.</p>

<h4>Umfangreiche Standardbibliothek</h4>
<p>Eine der großen Stärken von Python ist die sehr umfassende Standardbibliothek. 
Für die meisten alltäglichen Probleme gibt es hier bereits vorgefertigte Code Bibliotheken (Libraries).</p>
<p>Python ist freie Software, der komplette Quellcode ist offen zugängig. 
Daher verwundert es nicht, dass es eine riesige Community rund um diese Sprache gibt, welche für jeden erdenklichen Zweck frei verwendbare Module erstellt oder bereits erstellt hat.</p>

<h4>Test-Infrastruktur</h4>
<p>Python bietet umfangreiche Möglichkeiten für automatisierte Software-Tests.
Diese gewährleisten eine durchweg hohe Fehlerresistenz, da nach jeder Änderung am Code automatisch das gesamte Projekt getestet wird.</p>
{% endblock %}
