{% extends 'base/content.html' %}

{% block title %}Softwareentwicklung im Python Ökosystem{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h1 class="text-center">Python</h1>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Python is the fastest-growing major programming language today."</p>
  <footer class="blockquote-footer">Developer Survey Results 2019 (<cite><a target="_blank" href="https://insights.stackoverflow.com/survey/2019#most-popular-technologies" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Python is the most wanted language for the third year in a row [...]"</p>
  <footer class="blockquote-footer">Developer Survey Results 2019 (<cite><a target="_blank" href="https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-web-frameworks" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<blockquote class="blockquote text-center">
  <p class="mb-0">"Language of the Year: 2007, 2010, 2018"</p>
  <footer class="blockquote-footer">Tiobe Index (<cite><a target="_blank" href="https://www.tiobe.com/tiobe-index/" class="btn btn-link p-0" role="button" aria-pressed="true">Quelle</a></cite>)</footer>
</blockquote>
<hr>
{% endblock %}