{% extends 'base/content.html' %}

{% block title %}Webdesign{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block inner %}
<h2>Web-Technologien</h2>
<p>Es gibt heute eine vielzahl von Technologien, welche auf Applikationen vor allem im Internet Anwendung finden.
Hier stellen wir einige unserer universellen Standardwerkzeuge vor. 
Da jedes Projekt andere Anforderungen hat, ist die Auswahl selbstverständlich nicht auf die hier aufgeführten begrenzt.</p>

<h2>Bootstrap</h2>
<p>ist ein freies Frontend Framework. Eine Website, welche konsequent Bootstrap verwendet, ist automatisch für alle Bildschirmtypen angepasst ("responsive"). 
Das Verhalten für die verschiedenen Darstellungsarten (Tablet, Mobiltelefon,...) kann sehr detailreich eingestellt werden.</p>
<p>Mithilfe von Bootstrap kann die Entwicklungszeit beschleunigt und die Browser Kompatibilität erhöht werden. 
Die vorgefertigten Komponenten sehe out-of-the-box sehr ansprechend aus und können einfach angepasst werden.</p>

<h2>JavaScript und jQuery</h2>
<p>Eine Website verhält sich grundsätzlich wie eine große Text-Datei, also statisch und ohne dynamische Inhalte. 
Dieses statische Verhalten mit dynamischen Funktionen zu erweitern hat sich die Skriptsprache JavaScript auf die Fahnen geschrieben. 
Da JavaScript jedoch häufig Kompatibilitätsprobleme mit verschiedenen Browsern hat und die Syntax recht schnell unübersichtlich wird, wurde jQuery ins Leben gerufen.</p>
<p>Dies ist eine freie JavaScript Bibliothek, die es ermöglicht, relativ einfach veränderungen an einer Website zur Laufzeit durchzuführen, auch ohne sie neu zu laden. 
Gleichzeitig ist jQuery eine Abstraktionsebene für JavaScript, welche auch die Browserkompatibilität verbessert.</p>
{% endblock %}