{% load static %}
<!DOCTYPE html>
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta property="og:image" content="{% static "/images/facebook_logo.jpg" %}">
  <link rel="canonical" href="https://snake-soft.com{{ request.get_full_path }}">
  <title>Snake&#10711;Soft - {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  {% include 'base/head.html' %}
  {% block head %}{% endblock %}
  
<link href="{% static 'cookie_agreement/cookie.css'%}" rel="stylesheet">
<script src="{% static 'cookie_agreement/cookie.js' %}"></script>
</head>
<body>
  <div id="home"></div>
{% include 'cookie_agreement.html' %}
    <header>
      {% include 'base/nav.html' %}
    </header>
    <main class="container-fluid">
      <div class="row">
        <div id="messages" class="col">
          {% include 'base/message.html' %}
        </div>
      </div>
      <div class="row">
        <div id="content" class="col p-0">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <div class="placeholder bg-white" style="height:150px;"></div>
    <footer class="bg-white">
      {% include 'base/foot.html' %}
    </footer>
{% include 'base/loadafter.html' %}
</body>
</html>
