{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Snake &#10711; Soft - {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  {% include 'base/head.html' %}
  {% block head %}{% endblock %}
  
<link href="{% static 'cookie_agreement/cookie.css'%}" rel="stylesheet">
<script src="{% static 'cookie_agreement/cookie.js' %}"></script>
</head>
<body>
{% include 'cookie_agreement.html' %}
  <wrapper id="home">
    <header>
      {% include 'base/nav.html' %}
    </header>
    <main class="container-fluid">
      <div class="row">
        <div id="messages" class="col">
          {% include 'base/message.html' %}
        </div>
      </div>
      <div class="row">
        <div id="content" class="col p-0">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <section class="placeholder bg-white" style="height:150px;"></section>
    <footer class="bg-white">
      {% include 'base/foot.html' %}
    </footer>
  </wrapper>
{% include 'base/loadafter.html' %}
</body>
</html>
