{% load static %}{% load analytical %}{% load piwik %}{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% analytical_head_top %}
  <meta http-equiv="expires" content="43200">
  <title>Snake&#10711;Soft - {% block title %}Time is more than money{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:image" content="{% static "/images/logo_quadratisch.png" %}">
  <link rel="canonical" href="https://snake-soft.com{{ request.get_full_path }}">
  <meta name="msvalidate.01" content="E07487117979D4A6567A07BBE68B9B8B" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" type="image/svg+xml" href="{% static "favicon/favicon.svg" %}" sizes="any">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}Die Agentur für Webanwendungen und Software mit Python (Django, Flask) in Heilbronn, Stuttgart, Karlsruhe, Baden-Württemberg, Deutschland, Europa und der Welt.{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}Webanwendungen,Wordpress,Django,Python,cms,djangocms,Webapplikationen,Softwareentwicklung,Prozessoptimierung,Serververwaltung,Websites{% endblock %}" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet" />

  <script src="{% static 'js/base.js' %}?v=1"></script>
  <link rel="stylesheet" href="{% static "css/base.css" %}" />


  {% block head %}{% endblock %}
  
  {% render_block "js" %}
  {% render_block "css" %}
  {% analytical_head_bottom %}
</head>
<body>
  {% analytical_body_top %}
  {% cms_toolbar %}

<div id="chat" class="position-fixed container-fluid bg-white w-100 d-none" style="height:100vh;z-index: 1000;">
  

</div>
  <div id="home"></div>
    <header>
      {% show_menu 0 100 100 100 "base/menu.html" %}
    </header>
    <main class="container-fluid">
      <div class="row">
        <div id="messages" class="col">
          {% include 'base/message.html' %}
        </div>
      </div>
      <div class="row">
        <div id="content" class="col p-0">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer class="bg-white">
      <div class="placeholder bg-white" style="height:150px;"></div>
       {% static_placeholder 'footer' %}
    </footer>
    {% analytical_body_bottom %}
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>

  {% block loadafter %}{% endblock %}
</html>
